.matches_today, .matches_tomorrow {
    display: inline-block;
    vertical-align: top;
}

.matches_today ul, .matches_tomorrow ul {
    list-style: none;
}

.match_no_prediction {
    content: url(../admin/img/icon-alert.svg);
}

.htmx-indicator {
    max-width: 100%;
    max-height: 300px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

div.live_tournaments ul {
    list-style: none;
    padding-inline-start: 0px;
}
div.live_tournaments li {
    background-color: #eee;
    margin-top: 0.5em;
    text-align: center;
    border-radius: 25px;
}
div.live_tournaments li:first-of-type {
    margin-top:0px;
}
div.live_tournaments a {
    display: block;
    text-decoration:none;
    font-size: 1.5em;
    border-radius: 25px;
}
